.DS_Store
.vscode
__pycache__/
g.smt2
*.smt2
slides/
**/prev/
multiseq_alignment/original_betterconcat.fasta
multiseq_alignment/original_betterconcat/
recognizer/permutation_algo/src/libz3.a
multiseq_alignment/prev/Homo_sapiens.GRCh38.107.gff3
proof/*
doc/*
slides/*
recognizer/smt/
recognizer/permutation_fix/
visualizer/*.png
visualizer/out__*
visualizer/*.dot
generator/MultiSeqWG_generator/
generator/PrefixSortedGraph/
